.product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 6px; /* ระยะห่างระหว่างสินค้าแต่ละชิ้น */
    justify-content: space-between;
  }
  
  .product-item {
    box-shadow: 0 2px 200px rgba(12, 12, 12, 0.1); /* เงาด้วยสีเทาอ่อน */
    padding: 1px;
    width: calc(33%); /* กำหนดให้แต่ละช่องกว้างประมาณ 1 ใน 3 ของพื้นที่ที่มี บวกกับระยะห่าง */
    box-sizing: border-box;
    background-color: #ffffffde; /* เพิ่มสีพื้นหลังเพื่อให้มองเห็นเงาได้ชัดเจน */
    border-radius: 8px; /* เพิ่มมุมโค้ง */
  }
  
  
  .product-image {
    width: 30%;
    height: auto;
    display: block;
    margin-bottom: 1px;
  }
  
   button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  