<div class="product-container">
  <div *ngFor="let product of productList" class="product-item">
    <h3>{{ product.productName }}</h3>
    
    <!-- Displaying product images -->
    <div *ngFor="let img of product.imgList">
      <img [src]="img" alt="{{ product.productName }}" class="product-image">
    </div>
    
    <!-- Displaying product details -->
    <p>ประเภท: {{ product.productType[0]?.productTypeName }}</p>
    <p>ราคา: {{ product.price | currency:'THB' }}</p>
    <p>จำนวน: {{ product.quantity }}</p>
    
    <!-- Add to Cart button -->
    <button (click)="addToCart(product)">Add to Cart</button>
  </div>
</div>


