<!-- src/app/components/cart/cart.component.html -->
<div class="cart-container">
  <h2>ตะกร้าสินค้า</h2>
  <div class="cart-items">
    <div *ngFor="let item of cartItems" class="cart-item">
      <div *ngFor="let img of item.imgList">
        <img [src]="img" alt="{{ item.productName }}" class="cart-item-img"/>
      </div>
      <div class="cart-item-details">
        <p>{{ item.productName }} - {{ item.price }} บาท</p>
        <button class="btn-remove" (click)="removeFromCart(item.id)">ลบออกจากตะกร้า</button>
      </div>
    </div>
  </div>
  <p class="total-price">ราคารวม: {{ totalPrice }} บาท</p>
  <div class="cart-buttons">
    <button class="btn-clear" (click)="clearCart()">ล้างตะกร้า</button>
    <button class="btn-payment" (click)="gotocart()">ชำระสินค้า</button>
  </div>
</div>




<!-- <div class="cart-container">
  <h2>ตะกร้าสินค้า</h2>
  <div class="cart-item" *ngFor="let item of cartItems">
    <h3>{{ item.productName }}</h3>
    <p>ราคา: {{ item.price | currency }}</p>
    <button class="btn-remove" (click)="removeFromCart(item.id)">ลบออกจากตะกร้า</button>
  </div>
  <button class="btn-clear" (click)="clearCart()">ล้างตะกร้า</button>
  <button class="btn-payment" (click)="gotocart()">ชำระสินค้า</button>
</div> -->

