/* cart.component.css */
.cart-container {
  padding: 20px;
  background-color: #f9f9f9;
}

.cart-items {
  margin-top: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #fff;
}

.cart-item-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
}

.cart-item-details {
  flex-grow: 1;
}

.quantity-control {
  display: flex;
  align-items: center;
}

.quantity-control button {
  width: 30px;
  height: 30px;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin: 0 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity-control button.decrease {
  background-color: #dc3545;
}

.quantity-control button.decrease:hover {
  background-color: #c82333;
}

.quantity-control button.increase {
  background-color: #28a745;
}

.quantity-control button.increase:hover {
  background-color: #218838;
}

.quantity-control span {
  font-size: 16px;
  margin: 0 10px;
}

.btn-remove {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px; /* ขยับปุ่มลงด้านล่าง */
}

.btn-remove:hover {
  background-color: #c82333;
}

.total-price {
  font-size: 18px;
  margin-top: 20px;
}

.cart-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.btn-clear, .btn-payment {
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-clear {
  background-color: #ff6347;
}

.btn-clear:hover {
  background-color: #e5533b;
}

.btn-payment {
  background-color: #2ecc71;
}

.btn-payment:hover {
  background-color: #27ae60;
}
