<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-form">
	<div class="container">
	  <div class="header">
		<h1 class="display-4 fw-bold">Register</h1>
		<p class="fs-4">ต้องสมัครสมาชิกก่อน ถึงจะใช้งานระบบได้นะจ๊ะ</p>
	  </div>
	  <div class="form-group input-group">
		<div class="input-group-prepend">
		  <span class="input-group-text"><i class="fa fa-user"></i></span>
		</div>
		<input formControlName="firstName" class="form-control" placeholder="First name" type="text">
	  </div>
	  <div class="form-group input-group">
		<div class="input-group-prepend">
		  <span class="input-group-text"><i class="fa fa-user"></i></span>
		</div>
		<input formControlName="lastName" class="form-control" placeholder="Last name" type="text">
	  </div>
	  <div class="form-group input-group">
		<div class="input-group-prepend">
		  <span class="input-group-text"><i class="fa fa-phone"></i></span>
		</div>
		<input formControlName="phone" class="form-control" placeholder="Phone number" type="text">
	  </div>
	  <div class="form-group input-group">
		<div class="input-group-prepend">
		  <span class="input-group-text"><i class="fa fa-calendar"></i></span>
		</div>
		<input formControlName="age" class="form-control" placeholder="Age" type="text">
	  </div>
	  <div class="form-group input-group">
		<div class="input-group-prepend">
		  <span class="input-group-text"><i class="fa fa-building"></i></span>
		</div>
		<!-- <select class="form-control" formControlName="roleId">
		  <option value="">กรุณาเลือก Role</option>
		  <option *ngFor="let item of roleList" [value]="item.id">{{item.roleName}}</option>
		</select> -->
	  </div>
	  <div class="form-group input-group">
		<div class="input-group-prepend">
		  <span class="input-group-text"><i class="fa fa-user"></i></span>
		</div>
		<input formControlName="userName" class="form-control" placeholder="Username" type="text">
	  </div>
	  <div class="form-group input-group">
		<div class="input-group-prepend">
		  <span class="input-group-text"><i class="fa fa-lock"></i></span>
		</div>
		<input formControlName="password" class="form-control" placeholder="Create password" type="password">
	  </div>
	  <div class="form-group input-group">
		<div class="input-group-prepend">
		  <span class="input-group-text"><i class="fa fa-lock"></i></span>
		</div>
		<input formControlName="confirmPassword" class="form-control" placeholder="Repeat password" type="password">
	  </div>
	  <div class="form-group input-group">
		<div class="input-group-prepend">
		  <span class="input-group-text"><i class="fa fa-home"></i></span>
		</div>
		<input formControlName="address" class="form-control" placeholder="Address" type="text">
	  </div>
	  <div class="form-group input-group">
		<div class="input-group-prepend">
		  <span class="input-group-text"><i class="fa fa-map-marker"></i></span>
		</div>
		<input formControlName="city" class="form-control" placeholder="City" type="text">
	  </div>
	  <div class="form-group input-group">
		<div class="input-group-prepend">
		  <span class="input-group-text"><i class="fa fa-globe"></i></span>
		</div>
		<input formControlName="country" class="form-control" placeholder="Country" type="text">
	  </div>
	  <div>
		<p *ngIf="isPassword" class="warning-text">กรุณากรอก Password ให้ตรงกันกับด้านบ้านด้วยค่ะ</p>
	  </div>
	  <div class="form-group">
		<button type="submit" class="btn btn-submit">Save Account</button>
	  </div>
	</div>
  </form>
  