.order-status-container {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.order-status-header {
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.btn-save {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-save:hover {
  background-color: #218838;
}

.products-list {
  list-style-type: none;
  padding: 0;
}

.product-item {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.product-image img {
  width: 100px; /* ขยายขนาดรูปภาพ */
  height: 100px; /* ขยายขนาดรูปภาพ */
  object-fit: cover; /* ให้ภาพคงสัดส่วน */
  margin-right: 10px; /* เพิ่มระยะห่างระหว่างภาพกับชื่อผลิตภัณฑ์ */
}

.product-price {
  color: #3498db; /* เปลี่ยนสีของราคาเป็นสีฟ้า */
}

.total-price {
  font-weight: bold; /* ทำให้ราคารวมเป็นตัวหนา */
  margin-top: 10px;
}

.cart-buttons {
  display: flex;
  justify-content: space-between; /* Ensure buttons are on opposite sides */
  margin-top: 20px;
}

.btn-clear {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.btn-clear:hover {
  background-color: #c0392b;
}

.btn-payment {
  background-color: #2ecc71;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.btn-payment:hover {
  background-color: #27ae60;
}


/* สไตล์ที่ปรับแต่งสำหรับ SweetAlert2 */
.alert-popup {
  border-radius: 10px; /* ขนาดมุมโค้งของกล่องข้อความ */
}

.alert-title {
  font-size: 24px; /* ขนาดฟอนต์ของหัวข้อ */
  color: #333; /* สีของหัวข้อ */
}

.alert-content {
  font-size: 16px; /* ขนาดฟอนต์ของข้อความ */
  color: #555; /* สีของข้อความ */
}

.alert-confirm-button {
  background-color: #3085d6; /* สีพื้นหลังของปุ่มยืนยัน */
  color: #fff; /* สีข้อความของปุ่มยืนยัน */
  border-radius: 5px; /* ขนาดมุมโค้งของปุ่มยืนยัน */
}

.alert-cancel-button {
  background-color: #d33; /* สีพื้นหลังของปุ่มยกเลิก */
  color: #fff; /* สีข้อความของปุ่มยกเลิก */
  border-radius: 5px; /* ขนาดมุมโค้งของปุ่มยกเลิก */
}
