<!-- order-status.component.html -->
<div class="order-status-container">
  <h2 class="order-status-header">Order Status</h2>
  <p class="order-status-message">{{ orderStatus }}</p>

  <!-- แสดงข้อมูลรายละเอียดคำสั่งซื้อ -->
  <div class="order-details">
    <p><strong>Order ID:</strong> {{ orderDetails.orderId }}</p>
    <p><strong>Order Date:</strong> {{ orderDetails.orderDate | date }}</p>
    <p><strong>Total Items:</strong> {{ orderDetails.totalItems }}</p>
    <p><strong>Total Price:</strong> {{ orderDetails.totalPrice | currency }}</p>
    <p><strong>Shipping Address:</strong> {{ orderDetails.shippingAddress }}</p>
    <!-- สามารถเพิ่มข้อมูลเพิ่มเติมตามที่ต้องการ -->
  </div>

  <h3 class="order-products-header">Products</h3>
  <ul class="products-list">
    <li *ngFor="let product of cartItems" class="product-item">
      <span class="product-name">{{ product.name }}</span> -
      <span class="product-price">{{ product.price | currency }}</span>
    </li>
  </ul>

  <div class="button-container">
    <button (click)="navigateToDashbordAdmin()">Go to Dashbord Admin</button>
  </div>
</div>
